* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100vh;
  font-family: sans-serif;
}

body {
  overflow-x: hidden;
  background: #fff;
  color: #333;
  font-size: 14px;
}

header {
  padding: 20px 0;
  min-height: 250px;
  background: #eee;
  display: flex;
  align-items: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.container--fluid {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
}

.row--space-between {
  justify-content: space-between;
}

.row--justify-center {
  justify-content: center;
}

.row--align-center {
  align-items: center;
}

.form {
  padding: 10px;
}

.form__group {
  display: flex;
  flex-direction: column;
}

.form__group label {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  padding: 10px 0;
  font-size: 16px;
}

.form__input {
  margin: 10px 0 10px 0;
  padding: 5px 0;
  border: none;
  background: rgba(255, 255, 255, 0);
  border-bottom: 2px solid #333;
  outline: none;
  font-size: 18px;
  text-indent: 5px;
  transition: border 0.2s ease-in;
}

.form__input--invalid {
  border-bottom: 2px solid #dc1212;
}

.form__submit {
  background: rgba(255, 255, 255, 0);
  border: 1px solid #333;
  padding: 10px 30px;
  margin-top: 20px;
  cursor: pointer;
  outline: none;
  transition: all 0.2s ease;
}

.form__submit--disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.form__submit:hover {
  background: #333;
  color: #fff;
}

.post__list {
  padding: 20px 0;
}

.post {
  padding: 20px;
  margin-top: 30px;
  background: #fff;
  flex: 0 1 90%;
}

.post--border {
  border-bottom: 2px solid #e0e0e0;
}

.post__body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.post__body__content {
  flex: 1;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.71);
  line-height: 24px;
  padding-right: 10px;
  -webkit-font-smoothing: antialiased;
}

.rating {
  margin: 20px 0;
}

.star {
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin: 2px;
  float: left;
  background-color: rgba(0, 0, 0, 0.5);
  clip-path: polygon(
    50% 0%,
    63% 38%,
    100% 38%,
    69% 59%,
    82% 100%,
    50% 75%,
    18% 100%,
    31% 59%,
    0% 38%,
    37% 38%
  );
}

.star--selected {
  background-color: #daa520;
}

.comment__form {
  padding: 10px;
  margin: 10px 0;
}

.comment {
  background-color: #fff;
  line-height: 1.5rem;
  padding: 10px 20px;
  margin: 0;
  border-bottom: 1px solid #e0e0e0;
  font-size: 14px;
}

.comment__body__text {
  flex: 1;
  color: rgba(0, 0, 0, 0.71);
  padding-right: 10px;
  -webkit-font-smoothing: antialiased;
}

.comment__body__timestamp {
  text-decoration: underline;
  font-style: italic;
}
